*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
#home_header {
    position: fixed;
    width:100%;
    background-color: #f0f05b;
    z-index: 1;
    max-height: 80px;
}
header a:hover{
    border-bottom: 2px solid;
    color: #afa207;
    background-color:#2ad0ff;
}
header a:focus{
    border-bottom: 1px solid;
    color: #afa207;
    background-color:#2ad0ff;
}

.header_h1 {
    float: left;
    margin-left: 30px;
    margin-top: 42px;
    color: #02b8dd;
}
.nav1{
    margin-top: 32px;
}
header nav {
    height: 100%;
    float: right;
}

header nav a {
    margin-top: 10px;
    font-size: 155%;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #02b8dd;
    
}
body { 
    margin: 0; 
    padding: 0; 
    margin-right: 0px;
}
#hero_image1{
    background-color: #2ad0ff;
    overflow: auto;
    height:601px;
    margin-top: 79px;
    float: left;
    width: 40%;
   
}
#hero_image2{
    overflow: auto;
    background-color: #afa207;
    height: 601px;
    float: right;
    margin-top: 79px;
    width: 60%;

}
#hero_my{
    border-radius: 5em;
    max-width: 66%;
    max-height: 66%;
    left: 80px;
    top: 25px;
    position: relative;
}#hero1_h1{
    position: absolute;
    color: #c90859;
    font-size: 335%;
    margin-top: 3%;
    margin-left: 2%;
    max-width: 40%; 
}
 #hero_image2 p {
    position: absolute;
    margin-left: 5%;
    font-size: 157%;
    color: white;
    margin-top: 4%;
}
#aboutme{
    position: relative;
    width: 100%;
    top: 100%;
    overflow: auto;
     background-color: #f0f05b;
}
#aboutme_img{
    float: left;
    max-width: 100%;
    max-height: 86px;
    background-color: #af063b;
    border-radius: 5em;
}
#strip{
    height: 1010px;
    width: 100%;
}
#strip-img{
    background-color:#af063b;
    width: 100%;
    position: absolute;
    top: 1px;
    height: 80px;
}
#strip-img h1{
     color: #02b8dd;
    font-size: 70px;
}
#strip_img{
    width: 19%;
    height: 32%;
    max-width: 30%;
    max-height: 30%;
    border-radius: 5em;
    margin-top: 8%;
    margin-left: 11%;
} #meta_data tr th {
   border-bottom: 2px solid white;
   font-size: 34px;
   padding: 8px;
}#meta_data{
    margin-top: 5%;
    margin-left: 8%;
}#detail{
    
    margin-top: -48%;
    margin-left: 54%;
    font-size: 23px;
    border-spacing: 7px;

}
#detail tr td{
     border-bottom: 1px solid white;
     padding:3px;
}#aboutme p{
    margin-top: 2%;
    margin-left: 39%;
    font-size: 130%;
    color: #4c3b3b;
    margin-bottom: 2%;
    max-height: 300px;
}#gallery{
     position: relative;
    width: 100%;
    top: 100%;
    overflow: auto;
     background-color: #f0f05b;

}
#gallery #display_img{
    display: table;
  margin: 0 auto;
}
#gallery #display_img img{
    position: relative;
    border-radius: 3em;
    width: 100%;
    height: 100%;
    width: 750px;
    height: 517px;
    max-width: 750px;
    max-height: 750px;
}
#gallery #list_img img{
    border-radius: 3em;
   
    width: 160px;
    height: 160px;
}
#gallery #list_img .edit{
position: absolute;
margin-left: -150px;
margin-top: 18px;
border-radius: 8px;
display: inline;
}
#gallery #list_img .delete{
position: absolute;
margin-left: -56px;
margin-top: 18px;
border-radius: 8px;
display: inline;
}

#gallery #Buttons{
    float: left;
    vertical-align: middle;
    margin-top: 20%;
}
#gallery ul li{
    margin: 10px;
    list-style-type: none;
    vertical-align: middle;
   }
   .close {
    color: #aaa;
    float: right;
    margin-right: 10px;
    font-size: 35px;
    font-weight: bold;
}
#gallery #addImg{
        left: 46px;
    top: 180px;
    position: relative;
    font-size: 20px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#div1{
    background-color: #af063b;
    width: 100%;
}
#div1 b{
    color: #02b8dd;
    font-size: 70px;
}
#contact{
    background-color:#2ad0ff;
    width: 100%;
    top: 100%;
    overflow: auto;
   
}
#cont_strip{
    background-color: #af063b;
    width: 100%;
    height: 80px;
}

    #cont_strip b{
    color: #02b8dd;
    font-size: 70px;
}
#info{
    text-align: center;
    font-size: 36px;
    top: 95px;
}#icon{
    margin-left: 26%;

}
#icon a img:hover{

   border-radius: 0em;
}
#icon img{
    border: 5px solid #c90859;
    max-width: 150px;
    max-height: 150px;
    width:100px;
    height: 100px;
    margin: 45px;
    border-radius: 50%;
}#contact h1{
   margin-left: 10%;
    color: #8a3232;
}
#form{
    display: inline;
}#form textarea{
    font-size: 16px;
    opacity: .8;
}#form textarea:focus{
    border-radius: 0em;

}

#name{
    opacity: 1em;
    border-radius: 1.2em;
width: 250px;
    left: 51%;
    position: relative;
}
#email{
     border-radius: 1.2em;
    width: 500px;
    position: relative;
    left: 31%;
}
#message{
    border-radius: 1.2em;
    position: relative;
    left: 10%;
    width:400px;
    height:200px;
}
#submit{
    background-color:rgba(205,193,197,0.8);
   margin-left: 10%;
   margin-bottom: 2%;
    width: 100px;
    height: 30px;
}#submit:active {
  box-shadow: inset 2px 2px 1px black,
              inset 2px 3px 5px rgba(0,0,0,0.3),
              inset -2px -3px 5px rgba(255,255,255,0.5);
}#sunmit:focus, #submit:hover {
  background-image: linear-gradient(to bottom right, #888, #eee);
}
.modal{
    position: absolute;
    top: 50%;
    width: 90%;
background-color: rgba(175,6,59,1);
margin-left: 66px;
display: none;
border-radius: 10px;
z-index: 1;
}
.modal textarea{
    margin: 10px;
    font-size : 20px;
    display: inherit;
    width: 80%;
    border-radius: 10px;
}.modal #submit1{
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 13px;
    width: 140px;
    height: 30px;
} #img-url , #img-info{
    width: 750px;
}
